.map-wrapper {
  width:  100%;
}

#map {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
  width:  100%;
  height: 100vh;
}

#boat-data {
  position: absolute;
  left: 0px;
  bottom: 0px;
  z-index: 1;
  padding: 1em;
}

.alpha60 {
  /* Fallback for web browsers that doesn't support RGBa */
  background: rgb(255, 255, 255) transparent;
  /* RGBa with 0.6 opacity */
  background: rgba(255, 255, 255, 0.6);
  /* For IE 5.5 - 7*/
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff00, endColorstr=#ffffff00);
  /* For IE 8*/
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff00, endColorstr=#ffffff00)";
}